// BREAKPOINTS
$mobile       : 320px;
$ipadMini     : 768px;
$ipadAir      : 820px;
$ipadPro      : 992px;
$desktop      : 1199px;
$largeDesktop : 1400px;
$dvi          : 1600px;
$fullHD       : 1920px; 

$containerPadding: 15px;

// COLORS
$white       : #FFF;
$black       : #0D0C0C;
$blue        : #06ACF3;
$grey        : #F2F2F2;
$lightGrey  : #F8F8F8;
$middleGrey : #606060;

$headFont : "RoadRadio", sans-serif;
$textFont : "Inter", sans-serif;

$buttonBorder : 1px solid $black;